CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# cs cache
*.cache

# cs bin
bin
# cs obj
obj


# cs Debug
Debug